
@page "/"
@using ModelToRDF.Core
<style type="text/css">
    .useSpace {
        overflow: hidden;
        padding: 0 4px 0 12px
    }

    textarea {
        width: 100%;
        height: 300px;
    }
</style>

<h1>Covert XML/JSON to NTriples</h1>

A simple XML/JSON to NTriples converter.
<br />
Try it with a sample, such as https://jsonapi.org/examples/.

<div class="col">
    <div class="row">
        <textarea class="useSpace" @bind=@InputData placeholder="Input your data" />
    </div>
    <div class="row">
        <textarea class="useSpace" @bind=@OutputData placeholder="Translated data" readonly />
    </div>
</div>
<button class="btn btn-primary float-right m-1" @onclick="@Convert">Post</button>

Currently a work in progress.
<br />
It does not supports XML transformation or custom prefixes.
<br />
Uses GUID as Ids and also assigns an Id to blank nodes.
<br />
Please leave your feedback/issues in https://github.com/gabrieldelaparra/Model2RDF.


@code {
    public string InputData { get; set; }
    public string OutputData { get; set; }

    private void Convert()
    {
        try
        {
            var jsonData = Deserialization.XmlOrJsonTextToJsonData(InputData);
            OutputData = string.Join(Environment.NewLine, ConvertToRDF.ToRDFGraph(jsonData).GraphToNTriples());
        }
        catch (Exception ex)
        {
            OutputData = $"Failed to read input data :{ex}";
        }
    }

}